<!DOCTYPE html>
<html lang="en">

    <head>
    
        <title>Modon</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0,minimal-ui, viewport-fit=cover">
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Modon" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/fontawesome.css" />
        <link rel="stylesheet" href="./css/chartist.min.css">
        <link rel="stylesheet" href="./css/menu.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/responsive.css" />

    </head>

    <body class="ipad">
        <video autoplay muted loop id="bgVideo">
            <source src="./videos/Modon_loop_bg.mp4" type="video/mp4">
        </video>
        <main>
            <section id="section1">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-wrapper">
                            <div class="logo-center">
                                <img src="images/modon.png" alt="Modon Logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/modernizr.custom.js"></script>
    <script src="./js/classie.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/imagesloaded.pkgd.min.js"></script>
    <script src="./js/masonry.pkgd.min.js"></script>
    <script src="./js/lottie.min.js"></script>
    <script src="./js/chartist.min.js"></script>
    <script src="./js-ipad/routing-ipad.js"></script>
    <script src="./js-ipad/script-ipad.js"></script>
    <script>
        function errorImage(vid){
            $('#'+vid).hide();
        }
    </script>
</html>
