<!DOCTYPE html>
<html lang="en">

<head>
    <title>Modon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/fontawesome.css" />
    <link rel="stylesheet" href="./css/chartist.min.css">
    <link rel="stylesheet" href="./css/menu.css" />
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="./videos/Modon_loop_bg.mp4" type="video/mp4">
        </video>
        <main>
            <section id="section1">
                <div class="row">
                    <div class="col-12">
                        <div class="logo-wrapper">
                            <div class="logo-center">
                                <img src="images/modon.png" alt="Modon Logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>

    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/modernizr.custom.js"></script>
    <script src="./js/classie.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/imagesloaded.pkgd.min.js"></script>
    <script src="./js/masonry.pkgd.min.js"></script>
    <script src="./js/anime.min.js"></script>
    <script src="./js/lottie.min.js"></script>
    <script src="./js/chartist.min.js"></script>
    <script src="./js/routing.js"></script>
    <script src="./js/script.js"></script>
    <script src="./socket.io/socket.io.js"></script>


    <script type="text/javascript">

    //Image Modal for Gallery 
    function openImgVideoModal() {
            
        $('[data-target="#galleryModal"]').click(function(e){
            console.log($('section').attr("id"))
            let img = $(this).find('img').attr("src");
            $('#galleryModal').find('img').attr("src",img)
        })

        $('[data-target="#videoModal"]').click(function(e){
            let video = $(this).find('source').attr("src");
            $('#videoModal').find('source').attr("src",video)
        })
    }

    //Factory function returning Lottie Objects for map regions
    function getLottie(state){

        let svgContainer = document.getElementById('forStateSvg');
        let path2anim = './svg/states/';
        let lottieObj = {
            container: svgContainer,
            path: path2anim+state+'.json',
            renderer: 'svg',
            loop: false,
            autoplay: false,
        };

        return lottieObj;

    }

    //Fetch Data from API for popups on cites
    function getIndustrialData(industrySelector) {

        $.ajax({
            type: "POST",
            url: '/fetchIndustrialData',
            data : { industryData : industrySelector },
            dataType: "json",
            processdata: true,

            success: function(re) {
                let lang = $('#section4').attr("class").split(/\s+/)[0];
                let forPopup;
                if(lang=="english"){
                    forPopup = re.data;
                }else{
                    forPopup = re.data2;
                }
                
                $('#mapPopup').html('').html(forPopup)
                $('#forSvg #mapPopup').fadeIn();
                $('#forSvg #mapPopup').css("z-index","2");
            },

            error: function() {

            }
        });
}

    function errorImage(vid){
        $('#'+vid).hide();
    }

    // Handling functionality on Load for each SECTION

    function section2(section) {

        /* SECTION 2 ANIMATION */

        console.log(section);
        let english = document.getElementById('eng_vdo')
        var animation =  lottie.loadAnimation({
            container: english,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: './svg/english_video/data.json',
        });
        
        /* SECTION 2 REDIRECTION TO SECTION 3 */

        animation.addEventListener('DOMLoaded', function(){

            // english

            jQuery('.eng').click(function(){
                jQuery("main").load("pages/section3 .english",function(e){
                    section3('section3');
                });
            }).addClass('clickable');

            //arabic

            jQuery('.arabic').click(function(){
                jQuery("main").load("pages/section3 .arabic",function(e){
                    section3('section3');
                });
            }).addClass('clickable');
        });
    }

    function section3(section) {
        console.log(section)
    }

    function section4(section) {

        let lang = $('#section4').attr("class").split(/\s+/)[0];
        
        //Populate selections under Share icon (if any)

        $('.dropdown.dd_selected').first().after().html('').append(APP.selectedCitiesHtml);
        $('#section4 .btn_round.briefcase .badge').html(APP.selectedCities.length);

        //Animations for each map region based on language selected
        
        if(lang=="english"){

            var riyadhAnim = lottie.loadAnimation(getLottie('riyadh'));
            var buraidahAnim = lottie.loadAnimation(getLottie('buraidah'));
            var medinaAnim = lottie.loadAnimation(getLottie('medina'));
            var hailAnim = lottie.loadAnimation(getLottie('hail'));
            var ararAnim = lottie.loadAnimation(getLottie('arar'));
            var skakaAnim = lottie.loadAnimation(getLottie('skaka'));
            var tabukAnim = lottie.loadAnimation(getLottie('tabuk'));
            var makkahAnim = lottie.loadAnimation(getLottie('makkah'));
            var albahaAnim = lottie.loadAnimation(getLottie('al_baha'));
            var abhaAnim = lottie.loadAnimation(getLottie('abha'));
            var jazanAnim = lottie.loadAnimation(getLottie('jazan'));
            var najranAnim = lottie.loadAnimation(getLottie('najran'));
            var dammanAnim = lottie.loadAnimation(getLottie('damman'));

        }else {

            //selection header under share icon (arabic)
            $("#check0 span").html("مدن مختارة");

            var riyadhAnim = lottie.loadAnimation(getLottie('riyadhAr'));
            var buraidahAnim = lottie.loadAnimation(getLottie('buraidahAr'));
            var hailAnim = lottie.loadAnimation(getLottie('hailAr'));
            var medinaAnim = lottie.loadAnimation(getLottie('medinaAr'));
            var ararAnim = lottie.loadAnimation(getLottie('ararAr'));
            var skakaAnim = lottie.loadAnimation(getLottie('skakaAr'));
            var tabukAnim = lottie.loadAnimation(getLottie('tabukAr'));
            var makkahAnim = lottie.loadAnimation(getLottie('makkahAr'));
            var albahaAnim = lottie.loadAnimation(getLottie('al_bahaAr'));
            var abhaAnim = lottie.loadAnimation(getLottie('abhaAr'));
            var jazanAnim = lottie.loadAnimation(getLottie('jazanAr'));
            var najranAnim = lottie.loadAnimation(getLottie('najranAr'));
            var dammanAnim = lottie.loadAnimation(getLottie('dammanAr'));
        }


        //Functionality after map region animation completes

        riyadhAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        buraidahAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        hailAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        medinaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        ararAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        skakaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        tabukAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        makkahAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        albahaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        abhaAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        jazanAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        najranAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        dammanAnim.onComplete = function(e){
            sideBarFadeIn();
        }

        //ASSIGNING CITY TYPES(Industrial,Technology,ModonOasis) and CLICK functionality to cities inside Map Regions

        riyadhAnim.addEventListener("DOMLoaded",function(){

            //ASSIGNING CITY TYPES

            $('.Riyadh1_1, .AlZulfi_21, .Sudayer_16, .Shaqra_32, .Dhurma_37, .Riyadh3_26, .AlKharj_17, .Riyadh2_2').addClass("industry");
            $('.RiyadhTechnology,.AlRaidah').addClass("technology");
            //$('.al, .sudair, .durma').addClass("modern");

            $('.Riyadh2_2, .Sudayer_16, .AlZulfi_21, .Shaqra_32, .Riyadh3_26, .Dhurma_37, .AlKharj_17, .Riyadh1_1').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');

            $('.RiyadhTechnology').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #riyadhPopup').fadeIn();
                $('#forSvg #riyadhPopup').css("z-index","2");
                e.stopPropagation();
            }).addClass('clickable');

            $('.AlRaidah').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #alraidahPopup').fadeIn();
                $('#forSvg #alraidahPopup').css("z-index","2");
                e.stopPropagation();
            }).addClass('clickable');
        });

        buraidahAnim.addEventListener("DOMLoaded",function(){

            $('.AlQassim_7, .AlQassim2_25').addClass("industry");
            $('.AlQassimOsais_44').addClass("modern");

            $('.AlQassimOsais_44, .AlQassim_7, .AlQassim2_25').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        });

        hailAnim.addEventListener("DOMLoaded",function(){
            $('.Hail_13').addClass("industry");

            $('.Hail_13').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        medinaAnim.addEventListener("DOMLoaded",function(){

            $('.AlMadinaAlMunawwara_9').addClass("industry");
            $('.YanbueOsais_42').addClass("modern");

            $('.AlMadinaAlMunawwara_9, .YanbueOsais_42').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        ararAnim.addEventListener("DOMLoaded",function(){

            $('.Arar_19, .waadalshamal_48').addClass("industry");

            $('.Arar_19, .waadalshamal_48').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        skakaAnim.addEventListener("DOMLoaded",function(){
            $('.skaka12').addClass("industry");
            $('.AlJoufOsais_11').addClass("modern");
            
            $('.AlJoufOsais_11').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');

        })

        tabukAnim.addEventListener("DOMLoaded",function(){

            $('.Tabuk_12').addClass("industry");

            $('.Tabuk_12').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        makkahAnim.addEventListener("DOMLoaded",function(){

            $('.Rabigh_39, .Jeddah1_3, .Jeddah2_15, .Jeddah3_28, .MakkahAlMukarrama_6').addClass("industry");
            $('.WadiMakkah').addClass("technology");
            $('.JeddahOsais_29').addClass("modern");

            $('.Rabigh_39, .Jeddah1_3, .Jeddah2_15, .Jeddah3_28, .MakkahAlMukarrama_6, .JeddahOsais_29').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');

            $('.WadiMakkah').click(function(e){
                console.log($(this).attr("class").split(/\s+/)[0])
                $('#forSvg #wadiPopup').fadeIn();
                $('#forSvg #wadiPopup').css("z-index","2");
                e.stopPropagation();
            }).addClass('clickable');
        })

        albahaAnim.addEventListener("DOMLoaded",function(){
            $('.Albaha_27').addClass("industry");

            $('.Albaha_27').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        abhaAnim.addEventListener("DOMLoaded",function(){

            $('.Assir_10').addClass("industry");

            $('.Assir_10').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        jazanAnim.addEventListener("DOMLoaded",function(){

            $('.Jazan_18').addClass("industry");

            $('.Jazan_18').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        najranAnim.addEventListener("DOMLoaded",function(){

            $('.Najran_14').addClass("industry");

            $('.Najran_14').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        dammanAnim.addEventListener("DOMLoaded",function(){

            $('.Alahsa_36, .Dammam_5, .Dammam1_4, .Dammam3_30, .Ahsa1_8, .HafrAlbatin_35').addClass("industry");
            $('.AhsaOsais_38').addClass("modern");


            $('.Alahsa_36, .Dammam_5, .Dammam1_4, .Dammam3_30, .Ahsa1_8, .HafrAlbatin_35, .AhsaOsais_38').click(function(e){
                var temp = $(this).attr("class").split(/\s+/)[0];
                console.log(temp)
                getIndustrialData(temp)
                e.stopPropagation();
            }).addClass('clickable');
        })

        // CITY TYPE FILTERS(Industy,Technology,ModonOasis)

        $('.checkbox input').on("change",function(){
            if($("#check1").is(':checked')){
                $('.industry').fadeIn(500);
            }else{
                $('.industry').fadeOut(500);
            }
            if($("#check2").is(':checked')){
                $('.technology').fadeIn(500);
            }else{
                $('.technology').fadeOut(500);
            }
            if($("#check3").is(':checked')){
                $('.modern').fadeIn(500);
            }else{
                $('.modern').fadeOut(500);
            }
            if(($("#check1").is(':checked')||$("#check2").is(':checked')||$("#check3").is(':checked'))==false){
                $('.modern, .industry, .technology').fadeOut(100);
            }
        })
    
        //MAP REGION ANIMATIONS ON SAUDI MAP CLICK FUNCTIONALITY

        $('#Riyadh,[data-name=" Riyadh"],#_Riyadh').on("click",function(){
            stateAnimate('.Riyadh',riyadhAnim);
             if(lang== 'english')
                $('#section4 .map-head.city').html("Al Riyadh")
            else
                $('#section4 .map-head.city').html("الرياض")
        }).addClass('clickable');

        $('#Buraidah,[data-name="buraidah"],#buraidah-2').on("click",function(){
            stateAnimate('.Buraidah',buraidahAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Qassim")
            else
                $('#section4 .map-head.city').html("القصيم")
        }).addClass('clickable');

        $('#Hali,[data-name=" Hail"],#_Hail').on("click",function(){
            stateAnimate('.Hail',hailAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Hail")
            else
                $('#section4 .map-head.city').html("حائل")
        }).addClass('clickable');

        $('#Medina,[data-name=" Medina"],#_Medina').on("click",function(){
            stateAnimate('.Medina',medinaAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Madinah")
            else
                $('#section4 .map-head.city').html("المدينة المنورة")
        }).addClass('clickable');

        $('#Arar,[data-name=" Arar"],#_Arar').on("click",function(){
            stateAnimate('.Arar',ararAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Northern")
            else
                $('#section4 .map-head.city').html("الحدود الشمالية")
        }).addClass('clickable');

        $('#Skaka,[data-name=" Skaka"],#_Skaka').on("click",function(){
            stateAnimate('.Skaka1',skakaAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Al Jawf")
            else
                $('#section4 .map-head.city').html("الجوف")
        }).addClass('clickable');

        $('#Tabuk,[data-name=" Tabuk"],#_Tabuk').on("click",function(){
            stateAnimate('.Tabuk1',tabukAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Tabuk")
            else
                $('#section4 .map-head.city').html("تبوك")
        }).addClass('clickable');

        $('#Makkah,[data-name=" Makkah"],#makkah-2').on("click",function(){
            stateAnimate('.Makkah1',makkahAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Makkah")
            else
                $('#section4 .map-head.city').html("مكة المكرمة")
        }).addClass('clickable');

        $('#Al_Baha,[data-name=" Al_baha"],#_Al_Baha').on("click",function(){
            stateAnimate('.Al',albahaAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Baha")
            else
                $('#section4 .map-head.city').html("الباحة")
        }).addClass('clickable');

        $('#Abha,[data-name="abha-2"],#abha-2').on("click",function(){
            stateAnimate('.Abha',abhaAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Asir")
            else
                $('#section4 .map-head.city').html("عسير")
        }).addClass('clickable');

        $('#Jazan,[data-name=" Jazan"],#_Jazan').on("click",function(){
            stateAnimate('.Jazan1',jazanAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Jazan")
            else
                $('#section4 .map-head.city').html("جازان")
        }).addClass('clickable');

        $('#Najran,[data-name=" Najran"],#Najran-2').on("click",function(){
            stateAnimate('.Najran1',najranAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Najran")
            else
                $('#section4 .map-head.city').html("نجران")
        }).addClass('clickable');

        $('#Dammam,[data-name=" Damman"],#dammam-2').on("click",function(){
            stateAnimate('.Damman1a',dammanAnim);
            if(lang == 'english')
                $('#section4 .map-head.city').html("Eastern");
            else
                $('#section4 .map-head.city').html("الشرقية");
        }).addClass('clickable');

    }

    function section5(section) {
        console.log(section)
    }

    function section6(section) {


        let lang = $('section').attr("class").split(/\s+/)[0];
        APP.makeCheckbox();
        console.log("loading "+section)
        if(lang=="arabic"){
            $("#check0 span").html("مدن مختارة")
        }
        $('.cs ul.list li').first().hide();
        $('.is ul.list li').first().hide();
        $('.rs ul.list li').first().hide();

        // BAR CHART CODE
        var dataGraph = JSON.parse($('#targtdInd').val())
        var data = {
            labels: [],
            series: []
        };
        data.labels = dataGraph.labels
        data.series.push(dataGraph.series)
        if(dataGraph.series.length==0){
            $('.icon-box').next().next().hide()
        }
        var options = {
            fullWidth: true,
            seriesBarDistance: 15,
            axisX: {
                offset: 90
            },
            axisY: {
                onlyInteger: true
            }
        };
        new Chartist.Bar('.ct-chart', data, options);

        //Gallery modal functionality

        $('[data-target="#galleryModal"]').click(function(e){
            let img = $(this).find('img').attr("src");
            $('#galleryModal').find('img').attr("src",img)
        })

        $('[data-target="#videoModal"]').click(function(e){
            let video = $(this).find('source').attr("src");
            $('#videoModal').find('source').attr("src",video)
        })

    }

    function section7(section) {
        openImgVideoModal()
        APP.makeCheckbox()
        console.log(section)
    }

    function section8(section) {
        openImgVideoModal()
        APP.makeCheckbox()
        console.log(section)
    }

    function section9(section) {
        openImgVideoModal()
        APP.makeCheckbox()  
        console.log(section)
    }

    
    //COMMON SIDE BUTTONS FOR LOADING

    //reset button
    
    jQuery("main").on("click",".reset",function(){
        location.reload();
    });

    // ANIMATION FUNCTIONS

    //SideBar FadeIn after Map Region Animations
    
    function sideBarFadeIn(){
        $('nav').animate({"opacity":"1","z-index":"2"},70);
    }

    //Hide Saudi Map and Play Region Animation
    
    function stateAnimate(state,stateAnim){
        jQuery('.map-head.region').hide();
        jQuery('.map-head.city').fadeIn();
        $('#forSvg #saudi').fadeOut(500);
        console.log("showing "+state)
        $(state).parent().parent().show();
        stateAnim.goToAndPlay(0,true);
    }

    // iPad --> Desktop Messages for Remote Control
    
    var socket = io.connect();
    socket.on('broadML', function(data) {

        //alert(data);
        if(data == 'mainlogo'){
            jQuery('.logo-center').trigger("click");
        }

        if(data == 'sec3-en'){
            jQuery("main").load("pages/section3 .english",function(e){
                section3('section3');
            });
        }if(data == 'sec3-ar'){
            jQuery("main").load("pages/section3 .arabic",function(e){
                section3('section3');
            });
        } 

        if(data == 'sec3-en'){
            jQuery("main").load("pages/section3 .english",function(e){
                section3('section3');
            });
        }if(data == 'sec3-ar'){
            jQuery("main").load("pages/section3 .arabic",function(e){
                section3('section3');
            });
        }

        if(data == 'skipbtn1'){
            jQuery('.skip-btn1').trigger("click");
        }if(data == 'skipbtn2'){
            jQuery('.skip-btn2').trigger("click");
        }  

        if(data == 'ar-btn2'){
            jQuery('#section4.english .btn2').trigger("click");
        }if(data == 'en-btn1'){
            jQuery('#section4.arabic .btn1').trigger("click");
        }

        if(data == 'en-mainmap'){
            jQuery('.english .main-map').trigger("click");
        }if(data == 'ar-mainmap'){
            jQuery('.arabic .main-map').trigger("click");
        }

        if(data == 'videobutton'){
            jQuery('.play-btn1').trigger("click");
        }
        if(data == 'videobutton2'){
            jQuery('.btn_vdo').trigger("click");
        }

        if(data == 'play-btn1'){
            jQuery('.play-btn1').trigger("click");
        }
        if(data == 'play-btn2'){
            jQuery('.play-btn2').trigger("click");
        }

        if(data == 'popupfadeout'){
            jQuery('#section4 .map-popup').fadeOut();
        }


        // ------------------------------
        if(data == '.Riyadh'){
            jQuery('#Riyadh,[data-name=" Riyadh"]').trigger("click");
        }

        if(data == '.Buraidah'){
            jQuery('#Buraidah,[data-name="buraidah"]').trigger("click");
        }

        if(data == '.Hail'){
            jQuery('#Hali,[data-name=" Hail"]').trigger("click");
        }

        if(data == '.Medina'){
            jQuery('#Medina,[data-name=" Medina"]').trigger("click");
        }

        if(data == '.Arar'){
            jQuery('#Arar,[data-name=" Arar"]').trigger("click");
        }

        if(data == '.Skaka1'){
            jQuery('#Skaka,[data-name=" Skaka"]').trigger("click");
        }

        if(data == '.Tabuk1'){
            jQuery('#Tabuk,[data-name=" Tabuk"]').trigger("click");
        }

        if(data == '.Makkah1'){
            jQuery('#Makkah,[data-name=" Makkah"]').trigger("click");
        }

        if(data == '.Al'){
            jQuery('#Al_Baha,[data-name=" Al_baha"]').trigger("click");
        }

        if(data == '.Abha'){
            jQuery('#Abha,[data-name=" abha-2"]').trigger("click");
        }

        if(data == '.Jazan1'){
            jQuery('#Jazan,[data-name=" Jazan"]').trigger("click");
        }

        if(data == '.Najran1'){
            jQuery('#Najran,[data-name=" Najran"]').trigger("click");
        }

        if(data == '.Damman1a'){
            jQuery('#Dammam,[data-name=" Damman"]').trigger("click");
        }
        // --------------------------------


        if(data == 'showLeft'){
            jQuery('#showLeft').trigger("click");
        }
        if(data == 'showLeftPush'){
            jQuery('#showLeftPush').trigger("click");
        }

        if(data == 'check1'){
            jQuery('#check1').prop('checked',true);
            $('.checkbox input').trigger('change');

        }
        if(data == 'check2'){
            jQuery('#check2').prop('checked',true);
            $('.checkbox input').trigger('change');
        }
        if(data == 'check3'){
            jQuery('#check3').prop('checked',true);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck1'){
            jQuery('#check1').prop('checked',false);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck2'){
            jQuery('#check2').prop('checked',false);
            $('.checkbox input').trigger('change');
        }
        if(data == 'uncheck3'){
            jQuery('#check3').prop('checked',false);
            $('.checkbox input').trigger('change');
        }

        if(data == 'onLoad'){
            location.reload();
        }

        if(data == 'mainReset'){
            jQuery('.dropdown.dd_home a.reset').trigger("click");
        }

        if(data == 'mainMap'){
            jQuery('.main-map').trigger("click");
        } 

        if(data == 'Riyadh1_1' || data == 'AlZulfi_21' || data == 'Sudayer_16' || data == 'Shaqra_32' || data == 'Dhurma_37' || data == 'Riyadh3_26' || data == 'AlKharj_17' || data == 'Riyadh2_2' ||
            data == 'RiyadhTechnology' || data == 'AlRaidah' || data == 'AlQassimOsais_44' || data == 'AlQassim_7' || 
            data == 'AlQassim2_25' || data == 'Hail_13' || data == 'AlMadinaAlMunawwara_9' || data == 'YanbueOsais_42' || data == 'Arar_19' || 
            data == 'waadalshamal_48' || data == 'AlJoufOsais_11' || data == 'Tabuk_12' || data == 'Rabigh_39' || data == 'Jeddah1_3' || 
            data == 'Jeddah2_15' || data == 'Jeddah3_28' || data == 'MakkahAlMukarrama_6' || data == 'JeddahOsais_29' || data == 'WadiMakkah' || 
            data == 'Albaha_27' || data == 'Assir_10' || data == 'Jazan_18' || data == 'Najran_14' || data == 'Alahsa_36' || data == 'Dammam_5' || 
            data == 'Dammam1_4' || data == 'Dammam3_30' || data == 'Ahsa1_8' || data == 'HafrAlbatin_35' || data == 'AhsaOsais_38' ){
            jQuery('.'+data).trigger("click");
        }


        if(data == 'sec6-btn1'){
            jQuery('#section6.arabic .btn1').trigger("click");
        }if(data == 'sec6-btn2'){
            jQuery('#section6.english .btn2').trigger("click");   
        }if(data == 'sec6-more'){
            jQuery('#mapPopup.card .card-body .card-link').trigger("click");
        }


        if(data == 'sec7-btn1'){
            jQuery('#section7.arabic .btn1').trigger("click");  
        }if(data == 'sec7-btn2'){
            jQuery('#section7.english .btn2').trigger("click");   
        }if(data == 'sec7-more'){
            jQuery('#riyadhPopup.card .card-body .card-link').trigger("click");
        }  

        if(data == 'sec8-btn1'){
            jQuery('#section8.arabic .btn1').trigger("click");  
        }if(data == 'sec8-btn2'){
            jQuery('#section8.english .btn2').trigger("click");   
        }if(data == 'sec8-more'){
            jQuery('#wadiPopup.card .card-body .card-link').trigger("click");
        }
        
        if(data == 'sec9-btn1'){
            jQuery('#section9.arabic .btn1').trigger("click");  
        }if(data == 'sec9-btn2'){
            jQuery('#section9.english .btn2').trigger("click");   
        }if(data == 'sec9-more'){
            jQuery('#alraidahPopup.card .card-body .card-link').trigger("click");
        }


        if(data == 'tar_ind'){
            $('#section6 .services').show()
            $('#inf_ser div,#com_ser div,#res_ser div, #gal div').removeClass("active");
            $('#tar_ind div').addClass("active");
            $('.cs,.is,.rs').css("visibility","hidden").css("height","0px").css("overflow","hidden");
            $('.ti').css("visibility","visible").css("height","auto").css("overflow","visible");
            $('.icon-box').addClass("display");
        }if(data == 'inf_ser'){
            $('#section6 .services').show()
            $('#tar_ind div,#com_ser div,#res_ser div, #gal div').removeClass("active");
            $('#inf_ser div').addClass("active");
            $('.cs,.ti,.rs').css("visibility","hidden").css("height","0px").css("overflow","hidden");
            $('.is').css("visibility","visible").css("height","auto").css("overflow","visible");
            $('.icon-box').addClass("display");
        }if(data == 'com_ser'){
            $('#section6 .services').show()
            $('#tar_ind div,#inf_ser div,#res_ser div, #gal div').removeClass("active");
            $('#com_ser div').addClass("active");
            $('.ti,.is,.rs').css("visibility","hidden").css("height","0px").css("overflow","hidden");
            $('.cs').css("visibility","visible").css("height","auto").css("overflow","visible");
            $('.icon-box').addClass("display");
        }if(data == 'res_ser'){
            $('#section6 .services').show()
            $('#tar_ind div,#inf_ser div,#com_ser div, #gal div').removeClass("active");
            $('#res_ser div').addClass("active");
            $('.cs,.is,.ti').css("visibility","hidden").css("height","0px").css("overflow","hidden");
            $('.rs').css("visibility","visible").css("height","auto").css("overflow","visible");
            $('.icon-box').addClass("display");
        }if(data == 'gal'){
            var $grid = jQuery('.grid').masonry({
            columnWidth: '.grid-sizer',
            gutter: '.gutter-sizer',
            itemSelector: '.grid-item',
            percentPosition: true
        });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry();
        });
            $('#inf_ser div,#com_ser div,#res_ser div,#tar_ind div').removeClass("active");

            $('.data-container.services').hide()
            $('.data-container.gallery').show()
            $('#gal div').addClass("active");
        }

        if(data == 'grid_4' || data == 'grid_8' || data == 'grid_12'){
            $('#'+data).trigger("click");
        }
        if(data == 'grid_1' || data == 'grid_2' || data == 'grid_3' || data == 'grid_5' || data == 'grid_6' || data == 'grid_7' || data == 'grid_9' 
            || data == 'grid_10'|| data == 'grid_11' ){
            $('#'+data).trigger("click");
        }

        if(data=='proj'){
            $('#gal div').removeClass("active");
            $('#proj div').addClass("active");
            $('.ti').css("visibility","visible").css("height","auto").css("overflow","visible");
            $('.data-container.gallery').hide()
            $('.data-container.services').show()
            $('.icon-box').addClass("display");
        }if(data == 'galt'){
            $('#proj div').removeClass("active");
            $('.data-container.services').hide()
            $('#gal div').addClass("active");
            $('.data-container.gallery').show()
        }

        if(data == 'sharebtn'){
            $('.fa-share-alt').parent().trigger("click");
        }if(data == 'plus'){
            $('.btn_round.plus').trigger("click");
        }if(data == 'mailbtn'){
            $('.btn_round.mail').trigger("click");
        }


        if(data == 'closeModal'){
            $('.modal .close').trigger('click');
        }

   
    });

    //Language Switiching on City Page

    jQuery("main").on("click","#section6.english .btn2", function(){
        cityID= $('#section6').attr('data');
        jQuery("main").load("pages/section6?id="+cityID+" .arabic",function(e){
          section6('section6');
        });
    });
    
    jQuery("main").on("click","#section6.arabic .btn1", function(){
        cityID= $('#section6').attr('data');
        jQuery("main").load("pages/section6?id="+cityID+" .english",function(e){
          section6('section6');
        });
    });

    //More link on PopUp Functionality
    
    jQuery("main").on("click","#mapPopup.card .card-body .card-link", function(){
      let lang = $('#section4').attr("class").split(/\s+/)[0];
      let cityID = $(this).attr("id");
      jQuery("main").load("pages/section6?id="+cityID+" ."+lang,function(e){
        section6('section6');
      });
    });

    </script>

    </html>
