
/* PLUGIN MENU STYLES */

.cbp-spmenu {
	background: url('../images/menu_bg_open.png');
	position: fixed;
	top: 50%;
	background-size: inherit;
}
.cbp-spmenu-vertical {
	//width: 470px;
	width: 24.5vw;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-left {
	left: -350px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0;
}
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 445px;
}
.cbp-spmenu-push-toleft {
	left: -350px;
}
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* CUSTOM MENU STYLES */

.menu-icon {
	position: absolute;
	right: 75px;
	top: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.cbp-spmenu-open .menu-icon  {
	right: 420px;
	top: 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.form-check-input {
	position: absolute;
	left: 330px;

}

/* CHECKBOX STYLES */

.checkbox {
    padding-left: 20px;
}
.form-check .checkbox label,
.form-check label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-top: 5px;
    width: 100%;
    font-size: 22px;
    font-family: "Gotham-Bold";
    color: #fff;
}
.form-check label {
	padding-left: 45px;
}
.form-check.disabled .checkbox label,
.form-check.disabled label {
	color: #01113b;
}
.cbp-spmenu .checkbox label span,
.cbp-spmenu .form-check label span {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.cbp-spmenu-open .checkbox label span,
.cbp-spmenu-open .form-check label span {
    opacity: 1;
    -webkit-transition: all 2.0s ease;
	-moz-transition: all 2.0s ease;
	transition: all 2.0s ease;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 8px;
    border-radius: 50%;
    background-color: #061c4b;
    -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 19px;
    top: 8px;
    margin-left: -17px;
    padding-left: 3px;
    padding-top: 3px;
    font-size: 16px;
    color: #fff;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label::before {
    background-color: #061c4b;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: #fff;
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

/* MENU TOGGLE BUTTON */

.menu-toggle {
	position: absolute;
	right: -20px;
	top: 50%;
	width: 20px;
	height: 200px;
	border: 0;
	outline: none;
	background: rgba(255,255,255,0.2);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-toggle:after {
	display: inline-block;
    position: absolute;
	font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color: #fff;
	font-size: 20px;
    left: 5px;
    top: 45%;
	opacity: 0.5;
}
.cbp-spmenu-open .menu-toggle:after {
	content: "\f104";
}
.menu-toggle:focus {
	outline: none;
}
