/*
* Theme: Modon
* Author: http://www.getmorph.com
* Version: 1.0.0
* Updated: 06/06/2019 (DD/MM/YYY)
*/

/*
Table of Contents:
==================
* Fonts
* Base styles & structural layouts
* Media Queries
*/

/* FONTS */

@font-face {
    font-family: Gotham-Black;
    src: url("../fonts/Gotham-Black.otf");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("../fonts/GothamBold.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("../fonts/GothamMedium.otf");
}

@font-face {
    font-family: Gotham-Book;
    src: url("../fonts/GothamBook.otf");
}

@font-face {
    font-family: Arab-Black;
    src: url("../fonts/TheSansArab-Black.otf");
}

@font-face {
    font-family: Arab-Bold;
    src: url("../fonts/TheSansArab-Bold.otf");
}

@font-face {
    font-family: Arab-Light;
    src: url("../fonts/TheSansArab-Light.otf");
}

@font-face {
    font-family: Arab-Plain;
    src: url("../fonts/TheSansArab-Plain.otf");
}

/* BASE STYLES */

* {
    outline: none !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    overflow: hidden;
    font-family: 'Gotham-Book';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.list {
    margin: 0;
    padding: 25px;
    list-style: none;
    text-align: left;
}

ul.list li {
    position: relative;
    margin-bottom: 15px;
    font-family: 'Gotham-Medium';
    font-size: 16px;
    padding-left: 20px;
}

ul.list li:last-child {
    margin-bottom: 0;
}

ul.list li::before {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #00C5E3;
    left: 0;
    top: 8px;
}

section {
    width: 100vw;
    height: 100vh;
}

section > .row {
    height: 100vh;
}

.logo-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.logo-center {
    position: absolute;
    left:50%;
    bottom: 0;
    height: 807px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* SECTION 2 STYLES */

#section2 .lines-bg img {
    width: 100%;
    height: auto;
}

#section2 .lang-buttons {
    width: 100%;
    position: absolute;
    top: 0%;
}

#eng_vdo{
    position: relative;
    width: 100%;
    height: 100%;
    z-index:10;
}

#ara_vdo{

    position: absolute;
    z-index: -10;
}

/* SECTION 3 STYLES */

#section3 .video-js {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#section3 .video-poster,
#section3 .video-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#section3 .video-poster img {
    width: 100%;
    height: 100%;
}

#section3 .play-btn1,
#section3 .play-btn2 {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#section3 .skip-btn1,
#section3 .skip-btn2 {
    position: absolute;
    cursor: pointer;
    bottom: 90px;
    left: 100px;
}

#section3 .lang-btn1,
#section3 .lang-btn2 {
    right: 199px;
    position: absolute;
    cursor: pointer;
    bottom: 3px;
}

#section3 .video-controls.playback {
    display: none;
}

/* SECTION 4 STYLES */

section#section4 > .row {
    height: auto;
}

section#section4 > .content-row {
    height: calc(100vh - 95px);
}

section#section4 > .fix-row {
    position: absolute;
    right: 0
}

#saudi {
    position: relative;
    z-index: 5;
}

#section4 #forStateSvg svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.cbp-spmenu form.select-form {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cbp-spmenu form.select-form .form-check {
    height: 75px;
    padding: 20px;
}

.cbp-spmenu form.select-form .form-check:after {
    content:" ";
    display:block;
    position: absolute;
    height:1px;
    top: 100%;
    left: 0;
    background:-moz-linear-gradient(left, #ffffff00 0%,#000c2f 50%,#ffffff00 100%);
    background:-webkit-linear-gradient(left, #ffffff00 0%,#000c2f 50%,#ffffff00 100%);
    background:linear-gradient(left, #ffffff00 0%,#000c2f 50%,#ffffff00 100%);
    width:100%;
}

.cbp-spmenu form.select-form .form-check:last-child:after {
    background: none;
}

.cbp-spmenu form.select-form .form-check:last-child:after {
    background: none;
}

.cbp-spmenu form.select-form.menu-form .form-check {
    padding: 0;
}

.cbp-spmenu form.select-form.menu-form .form-check .menu-in {
    height: 75px;
    padding: 20px;
}

.cbp-spmenu form.menu-form .form-check .menu-in.active {
    background: #00C5E3;
}

h1.map-head {
    color: #fff;
    font-family: 'Gotham-Bold';
    font-size: 32px;
    line-height: 1.5;
    margin-top: 10%;
    text-shadow: 1px 1px 7px #fff;
}

#section4 h1.map-head.city {
    display: none;
}

.map-container {
    width: 100%;
    height: 75vh;
    position: relative;
    text-align: center;
}

.map-container img {
    margin: auto;
    height: 100%;
    width: auto;
}

.logo-holder {
    text-align: right;
    margin: 10px 50px 0 0;
}

.graphic-holder {
    text-align: right;
    margin: 50px 50px 0 0;
}

.share-holder {
    float: right;
    margin-right: 50px;
    height: 380px;
    width: 65px;
    position: absolute;
    //top: 40%;
    top: 400px;
    right: 0;
}

.share-holder .btn_round {
    position: absolute;

}
.share-holder .btn_round:nth-child(1) {
    top: 0;
}

.share-holder .btn_round:nth-child(2) {
    top: 95px;
}

.share-holder .btn_round:nth-child(3) {
    top: 190px;
}

.share-holder .btn_round:nth-child(4) {
    top: 285px;
}

#section4 .share-holder .btn_round:nth-child(1) {
    top: 95px;
}

#section4 .share-holder .btn_round:nth-child(2) {
    top: 190px;
}

#section4 .share-holder .btn_round:nth-child(3) {
    top: 285px;
}

.share-holder .badge-warning {
    position: absolute;
    top: 5px;
    right: 0px;
    color: #fff;
    border-radius: 100%;
    padding: 3px 5px 0px;
    width: 19px;
    height: 19px;
}

.card {
    position: absolute;
    right: 0;
    top: 30%;
    width: 565px;
    height: 475px;
    background: url('../images/box_3.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px;
    display: none;
    text-align: left;
    border: 0;
    border-radius: 0;
}

.card .image-area {
    position: relative;
}

#section4 .card .image-area {
    position: relative;
    width: 535px;
    height: 370px;
    overflow: hidden;
}

.card .image-area img {
    /* width: 100%;
    height: auto; */
    width: 615px;
    height: 420px;
}

.card .image-area h4 {
    font-family: 'Gotham-Book';
    font-size: 21px;
}

.card .image-area .text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 10px 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.card .image-area .short-desc {
    font-family: 'Gotham-Book';
    font-size: 13px;
    margin: 0;
}

.card .list-group {
    flex-direction: row;
}

.card .list-group-item {
    background: transparent;
    display: inline-block;
    font-size: 13px;
    border: 0;
    border-right: 1px solid rgba(0,0,0,.125);
    flex: 1;
    padding: 0 0 0 7px;
    margin: 20px 0;
}

.card .list-group-item:last-child {
    border: none;
}

.card .list-group-item span {
    display: block;
}

.card .card-body {
    padding: .75rem;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -78px;
}

.card .card-body a {
    font-size: 25px;
    background: #04E0FF;
    float: right;
    font-family: 'Gotham-Bold';
    color: #061c4b;
    padding: 1.0rem;
    border-radius: 16px;
}

/* SECTION 6 STYLES */

section#section6 > .row,
section#section7 > .row,
section#section8 > .row,
section#section9 > .row {
    height: auto;
}

section#section6 > .content-row,
section#section7 > .content-row,
section#section8 > .content-row,
section#section9 > .content-row  {
    height: calc(100vh - 95px);
    background: rgba(22, 48, 90, 0.9);
}

section#section6 > .fix-row,
section#section7 > .fix-row,
section#section8 > .fix-row,
section#section9 > .fix-row {
    position: absolute;
    right: 0;
    z-index: -1
}

section#section6 > .button-row,
section#section7 > .button-row,
section#section8 > .button-row,
section#section9 > .button-row {
    background: rgba(22, 48, 90, 0.9);
}

.menu-form .menu-icon {
    top: 21px;
    right: 48px;
}

.cbp-spmenu-open .menu-form .menu-icon {
    top: 21px;
    right: 420px;
}

section#section6 > .content-row > .col-11,
section#section7 > .content-row > .col-11,
section#section8 > .content-row > .col-11,
section#section9 > .content-row > .col-11 {
    overflow: hidden;
}

.data-container {
    width: 100%;
    height: 75vh;
    position: relative;
    text-align: center;
    margin-left: 60px;
    overflow: hidden;
}

.data-container.services {
    margin-top: 70px;
}

.data-box {
    overflow: hidden;
}

.data-box .head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 14px 0 5px;
}

.data-box .head h4 {
    font-size: 24px;
    font-family: 'Gotham-Medium';
    line-height: 1;
    padding: 5px 0;
    margin: 0
}

.box-1 {
    //width: 430px;
    width: 22.4vw;
    height: 545px;
    background:url('../images/box_1.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.box-1.icon-box {
    margin-left: -430px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.box-1.icon-box.display {
    margin-left: 0;
}

.box-2 {
    //width: 645px;
    width: 33.6vw;
    height: 545px;
    margin: 0 22px;
    background:url('../images/box_2.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.box-3 {
    //width: 1095px;
    width: 46vw;
    height: 545px;
    background:url('../images/box_2.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.data-box-in {
    visibility: hidden;
    overflow:hidden;
    height: 0;
}

.data-box-in.active {
    visibility: visible;
    overflow: visible;
    height: auto;
}

.box-body {
    overflow: auto;
    height: 495px;
}

.box-body > .row {
    overflow: auto;
}

.box-body .col-4 {
    height: 165px;
    padding: 15px 5px;
}

.box-body #national-transformation-initiatives {
    height: 180px;
}

.box-body .icon-ind span.icon-in {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #00C5E3;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.box-body .icon-ind span.icon-in img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-body .icon-title {
    font-size: 15px;
    font-family: 'Gotham-Medium';
    text-transform: capitalize;
    margin-top: 10px;
    line-height: 1;
}

#section6 .cs ul.list div:first-child,
#section6 .cs ul.list div::first-letter,
#section6 .cs ul.list div:first-letter {
    display: none;
}

#section6 .box-2 .card,
#section7 .box-2 .card,
#section8 .box-2 .card,
#section9 .box-2 .card {
    position: static;
    background: transparent;
    display: block;
    width: 100%;
    height: auto;
}

#section6 .box-2 .card .list-group-item,
#section7 .box-2 .card .list-group-item,
#section8 .box-2 .card .list-group-item,
#section9 .box-2 .card .list-group-item {
    font-size: 14px;
    margin: 44px 0
}

#section6 .box-2 .card .image-area .short-desc,
#section7 .box-2 .card .image-area .short-desc,
#section8 .box-2 .card .image-area .short-desc,
#section9 .box-2 .card .image-area .short-desc {
    font-size: 14px;
}

.data-container.gallery {
    display: none;
    margin-left: 0;
    overflow: scroll;
}

.grid-item {
    float: left;
    height: 215px;
    //border: 1px solid hsla(0, 0%, 0%, 0.5);
    border: none;
    margin-bottom: 15px;
    overflow: hidden;
}

.grid-item img, .grid-item video {
    width: 100%;
    height: 100%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 19%;
}

.grid-item--width2 {
    width: 39%;
}

.gutter-sizer {
    width: 1%;
}

.grid-item--height2 {
    height: 330px;
}

.grid-item--width2::after {
    position: absolute;
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url('../images/play2.png') no-repeat;
    background-size: cover;
}

.modal-body {
    padding: 0;
}

.modal-dialog-scrollable .modal-body {
    max-height: 80vh;
}

.modal-body video {
    margin-bottom: -12px !important;
}
.modal-dialog-scrollable .modal-content {
    overflow: inherit;
}

.modal-dialog {
    max-width: 70% !important;
    max-height: 70% !important;
}

.modal-dialog img {
    //height: 100%;
    width: 100%;
}

button.close {
    position: absolute;
    right: -23px;
    top: -25px;
    z-index: 1;
    color: #fff;
    font-size: 38px;
    font-weight: 100;
    height: 50px;
    width: 50px;
    line-height: 1.5;
    padding-left: 3px;
}
button.close:hover {
    color: #fff;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: 0.8;
}

.close.btn_round {
    margin: 0;
}

.close.btn_round:after {
    display: none;
}

.coming-soon {
    margin-top: 300px;
}

.ti .box-body span, .is .box-body span {
    padding: 25px;
}

/* SECTION 7 STYLES */

#section7 ul.list li,
#section8 ul.list li,
#section9 ul.list li {
    line-height: 2.5;
    margin-bottom: 0;
}

#section7 ul.list li::before,
#section8 ul.list li::before,
#section9 ul.list li::before {
    top: 15px;
}

/* BUTTON STYLES */

.btn_round {
    background-image: -webkit-linear-gradient(top, #01113b, #010e39);
    background-image: linear-gradient(top, #01113b, #010e39);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 3px 10px 1px rgba(0, 0, 0, .3), inset 2px 0px 2px 2px #4cd3fc;
    height: 65px;
    margin: 0 0 30px 0;
    position: relative;
    width: 65px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn_round:after {
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.btn_round:active {
    background-image: -webkit-linear-gradient(top, #021444, #011244);
    background-image: linear-gradient(top, #021444, #011244);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(25,25,37,.5);
}

.btn_round:active:after {
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.btn_round .fas {
    line-height: 65px;
    font-size: 22px;
}

.btn_round.inner-btn {
    display: none;
}

.lang-btn1,
.lang-btn2 {
    float: right;
    padding-right: 5px;
}

.btn_lang {
    display: inline-block;
    margin: 0 30px 30px 0;
    vertical-align: middle;
    cursor: pointer;
}

.lang-btn1 .btn-dropdown,
.lang-btn2 .btn-dropdown {
    display: inline-block;
    margin: 0 30px 30px 0;
    vertical-align: middle;
}

.dropdown {
    display: none;
    position: absolute;
    top: -100px;
    right: 50px;
    background: rgba(41, 171, 226, 0.9);
}

.dropdown:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    right: 23px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba(41, 171, 226, 0.9);
}

.dropdown-item {
    color: #fff;
    line-height: 1.3;
    padding: 13px 20px 6px;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0, 197, 227, 1);
    color: #fff;
}

#formModal,
#formModalAra {
    background-color: rgba(22, 48, 90, 0.95);
}

#formModal .modal-dialog,
#formModalAra .modal-dialog {
    max-width: 40% !important;
}

#formModal .modal-content,
#formModalAra .modal-content {
    background-color: transparent;
    border: none;
}

#formModal .modal-content .form-control,
#formModalAra .modal-content .form-control {
    background-color: transparent;
    color: #fff;
    font-family: 'Gotham-Book';
    border: none;
    border-bottom: 2px solid #fff;
    border-radius:0;
    font-size: 30px;
    margin-bottom: 65px;
}

#formModal .modal-content .form-control:focus,
#formModalAra .modal-content .form-control:focus {
    box-shadow: none;
}

#formModal button.close,
#formModalAra button.close {
    top: -100px;
    right: -100px;
}

#formModal button.sbmt {
    width: 190px;
    height: 63px;
    background: url('../images/submit.png') no-repeat;
}

#formModalAra button.sbmt {
    width: 191px;
    height: 62px;
    background: url('../images/submit_ar.png') no-repeat;
    float: right;
}

/* checkbox styles */

.dd_selected {
    top: 0;
    right: 80px;
    text-align: left;
    padding-bottom: 5px;
}

.dd_selected:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    right: -20px;
    top: 24px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left:10px solid rgba(41, 171, 226, 0.9);
}

.dd_selected .checkbox {
    position: relative;
    width: 235px;
    padding-left: 15px;
    padding-right: 35px;
}

.dd_selected .checkbox label::before {
    width: 22px;
    height: 22px;
    top: 0;
}

.dd_selected .checkbox label::after {
    font-size: 12px;
    right: 14px;
    top: 0px;
}

.dd_selected .form-check-label {
    font-size: 14px;
}

.dd_selected .form-check-label span {
    display: block;
    margin-top: 5px;
}

.dd_selected .checkbox:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.dd_selected .checkbox:first-child .form-check-label span {
    margin-top: 10px;
}

.dd_selected .checkbox:nth-child(2) {
    margin-top: 10px;
}

.dd_selected .checkbox:first-child label::before,
.dd_selected .checkbox:first-child label::after {
    display: none;
}

/* BAR CHART STYLES */

.ct-chart {
    margin-top: 25px;
}

text.ct-label {
    color: #fff;
    fill: #fff;
}

.ct-label {
    font-size: 10px;
}

svg.ct-chart-bar, svg.ct-chart-line {
    overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-50%) rotate(-45deg);
    white-space:nowrap;
    color: #fff;
}

.ct-label.ct-vertical {
    color: #fff;
}

.ct-chart .ct-bar {
    stroke: #00c5e3;
}




/* SCROLLBAR STYLES */

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(245, 245, 245, 0.1);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(245, 245, 245, 0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: #00C5E3;
}

/* ARABIC STYLES */

body .arabic {
    font-family: 'Arab-Plain';
}

.arabic .form-check .checkbox label,
.arabic .form-check label,
.arabic h1.map-head {
    font-family: 'Arab-Bold';
    direction: rtl;
    text-align: right;
}

.arabic .data-box .card .list-title,
.arabic .data-box .card .list-data,
.arabic .data-box .card .short-desc,
.arabic .data-box .head h4,
.arabic .dropdown-item,
.arabic .card .list-title,
.arabic .card .list-data,
.arabic .card .image-area h4,
.arabic .card .image-area .short-desc,
.arabic #formModalAra .modal-content .form-control,
.arabic ul.list li {
    font-family: 'Arab-Plain';
    direction: rtl;
    text-align: right;
}

.arabic .data-box .head h4 {
    text-align: center;
}

.arabic .card .list-group-item {
    padding: 0 7px 0 0;
}

.arabic .form-check .checkbox label,
.arabic .form-check label {
    padding-right: 55px;
}

.arabic .card .list-group-item {
    font-size: 15px;
}

.arabic .card .image-area .short-desc {
    font-size: 15px;
}

.arabic .box-body .icon-title {
    font-size: 18px;
    font-family: 'Arab-Plain';
    direction: rtl;
}

.arabic ul.list li {
    padding-left: 0;
    padding-right: 20px;
    font-size: 18px;
}

.arabic ul.list li::before {
    left: auto;
    right: 0;
    top: 12px;
}

.arabic#section7 ul.list li::before,
.arabic#section8 ul.list li::before,
.arabic#section9 ul.list li::before {
    top: 19px;
}
