<section id="section5" class="english">
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="row">
                <div class="col-3">
                    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                        <form class="select-form">
                            <div class="form-check">
                                <div class="menu-icon"><img src="images/industrial_cities_icon.png" alt="icon" /></div>
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" value="" id="check1">
                                    <label class="form-check-label" for="check1"><span>Industrial cities</span></label>
                                </div>
                            </div>
                            <div class="form-check">
                                <div class="menu-icon"><img src="images/tech_zone_icon.png" alt="icon" /></div>
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" value="" id="check2">
                                    <label class="form-check-label" for="check2"><span>Technology zones</span></label>
                                </div>
                            </div>
                            <div class="form-check">
                                <div class="menu-icon"><img src="images/oasis_icon.png" alt="icon" /></div>
                                <div class="checkbox">
                                    <input class="form-check-input" type="checkbox" value="" id="check3">
                                    <label class="form-check-label" for="check3"><span>Modern oasis</span></label>
                                </div>
                            </div>
                        </form>
                        <button class="menu-toggle" id="showLeft"></button>
                    </nav>
                </div>
                <div class="col-7">
                    <h1 class="text-center map-head">Riyadh</h1>
                    <div class="map-container">
                        <img class="riyadh-img" src="images/riyadh-map.png" alt="Saudi Arabia Map" />
                        <div class="card map-popup">
                            <div class="image-area">
                                <img src="images/city-image.png" class="card-img-top">
                                <h4>Riyadh 2nd Industrial City</h4>
                                <p class="short-desc">Fully developed. It has an integrated system of services and a network of rapid axial roads, which making it easier to access.</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="list-title">Established Date</span><span class="list-data">1976</span></li>
                                <li class="list-group-item"><span class="list-title">Total Area (m<sup>2</sup>)</span><span class="list-data">10,000,000</span></li>
                                <li class="list-group-item"><span class="list-title">Number of Factories</span><span class="list-data">1100 factories</span></li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">more . . .</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn"><i class="fas fa-briefcase"></i></div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">Saudi Arabia Map</a>
                        <a class="dropdown-item city-map" href="#">Riyadh 2nd Map</a>
                        <a class="dropdown-item reset" href="#">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section5" class="arabic">
</section>
