<section id="section3" class="english">
    <div class="row align-items-center">
        <div class="col-12">
            <video id="modon-vdo1" controls muted preload='auto' playsinline>
                <source src="videos/modon_film.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="video-poster">
        <img src="images/video_bg.png" alt="poster"/>
    </div>
    <div class="video-controls">
        <div class="play-btn1">
            <img src="images/play.png" alt="play button"/>
        </div>
        <div class="skip-btn1">
            <img src="images/skip.png" alt="skip button"/>
        </div>
        <div class="lang-btn1">
            <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
            <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
        </div>
    </div>
    <div class="video-controls playback">
        <div class="skip-btn1">
            <img src="images/skip.png" alt="skip button"/>
        </div>
    </div>
</section>

<section id="section3" class="arabic">
    <div class="row align-items-center">
        <div class="col-12">
            <video id="modon-vdo2" controls muted preload='auto' playsinline>
                <source src="videos/modon_film_arabic.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="video-poster">
        <img src="images/video_bg.png" alt="poster"/>
    </div>
    <div class="video-controls">
        <div class="play-btn2">
            <img src="images/play.png" alt="play button"/>
        </div>
        <div class="skip-btn2">
            <img src="images/skip_ar.png" alt="skip button"/>
        </div>
        <div class="lang-btn2">
            <div class="btn_lang"><img class="btn1" src="images/eng.png" alt="english"/></div>
            <div class="btn_lang"><img class="btn2" src="images/arb-selected.png" alt="arabic sel"/></div>
        </div>
    </div>
    <div class="video-controls playback">
        <div class="skip-btn2">
            <img src="images/skip_ar.png" alt="skip button"/>
        </div>
    </div>
</section>

<script>
    jQuery(document).ready(function() {
        var play_vdo1 = document.getElementById("modon-vdo1");
        play_vdo1.removeAttribute("controls");
    });

    jQuery(document).ready(function() {
        var play_vdo2 = document.getElementById("modon-vdo2");
        play_vdo2.removeAttribute("controls");
    });
</script>
