<section id="section9" class="english" data='Alraidah1' data-url='https://modon.gov.sa/en/Cities/TechnologyZones/Pages/TechZone.aspx?ZoneId=6802e405-13ba-4e0b-9a31-ba2018734541' data-name='Al-Raidah Digital City'>
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check" id="proj">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/overview_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Project Overview</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>Gallery</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head">Al Raidah Digital City</h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>Project Elements</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-4" id="center-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/center-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">information technology</div>
                                                </div>
                                                <div class="col-4" id="university-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/university-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">communcations</div>
                                                </div>
                                                <div class="col-4" id="research-development">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/research-development.png" /></span>
                                                    </div>
                                                    <div class="icon-title">R&D</div>
                                                </div>
                                                <div class="col-4" id="innovation-center">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/innovation-center.png" /></span>
                                                    </div>
                                                    <div class="icon-title">innovation center</div>
                                                </div>
                                                <div class="col-4" id="technical-streets">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/technical-streets.png" /></span>
                                                    </div>
                                                    <div class="icon-title">technical streets</div>
                                                </div>
                                                <div class="col-4" id="village-of-knowledge">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/village-of-knowledge.png" /></span>
                                                    </div>
                                                    <div class="icon-title">village of knowledge</div>
                                                </div>
                                                <div class="col-4" id="residential">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/residential.png" /></span>
                                                    </div>
                                                    <div class="icon-title">residential buildings</div>
                                                </div>
                                                <div class="col-4" id="entertainment">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/entertainment.png" /></span>
                                                    </div>
                                                    <div class="icon-title">entertainment</div>
                                                </div>
                                                <div class="col-4" id="gardens-areas">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/gardens-areas.png" /></span>
                                                    </div>
                                                    <div class="icon-title">garden areas</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/techzone/riyadhDigital/1.jpg" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc">Strategic location on the main roads in Riyadh city</p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">Established Date</span><span class="list-data">1430H/ 2009G</span></li>
                                            <li class="list-group-item"><span class="list-title">Total Area (m<sup>2</sup>)</span><span class="list-data">800,000</span></li>
                                            <li class="list-group-item"><span class="list-title">Achievement Percentage</span><span class="list-data">98%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="data-box box-1">
                                    <div class="head">
                                        <h4>Project Aims</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row no-gutters align-items-start d-flex">
                                            <div class="col-12">
                                                <ul class="list">
                                                    <li>Knowledge investment center and global research, to enhance and localize technology & innovation.</li>
                                                    <li>Achieve sustainable development in supporting the national knowledge economy.</li>
                                                    <li>Activate and strengthen the cooperation between the university and research centers.</li>
                                                    <li>To Build an ideal center in the field of knowledge and technology.</li>
                                                    <li>Attracting and motivating creative talent.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                             <div class="grid">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>

                                <% var array= resd; %>
                                <% if(resd.length > 0) { %>
                                <% resd.forEach(item=>{ %>
                                <% const imgId =item.split('.')[0];  %>

                                <% if(item.includes('jpg')){ %>
                                <div class="grid-item"  id='grid_<%= imgId %>' data-toggle="modal" data-target="#galleryModal">
                                    <img src="/images/techzone/riyadhDigital/<%= item %>" />
                                </div>
                                <% } %>

                               <% if(item.includes('mp4')){ %>
                                <div class="grid-item grid-item--width2 grid-item--height2" id='grid_<%= imgId %>' data-toggle="modal" data-target="#videoModal">
                                    <video width="100%" height="100%" id='' poster='/images/dummy.jpg'>
                                        <source src="/images/techzone/riyadhDigital/<%= item %>" type="">
                                    </video>
                                </div>
                                <% } %>

                                <% }) %>
                              
                                <% } else { %>
                                <div class="grid">
                                    <h3 class="coming-soon">Coming Soon</h3>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModal"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn1">
                <div class="btn_lang"><img class="btn1" src="images/eng-selected.png" alt="english sel"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModal"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">Saudi Arabia Map</a>
                        <a class="dropdown-item reset" href="#">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideo" width="100%" height="100%" controls>
                        <source src="videos/modon_film.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" controls>
                        <source src="" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="company" aria-describedby="company" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="jtitle" aria-describedby="jtitle" placeholder="Job Title">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
                        </div>
                        <button type="button" class="btn sbmt" >&nbsp;</button>
                        <br><span id='msg-en' style="display: none">Thank you for contacting Modon.</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section9" class="arabic" data='Alraidah1' data-url='https://modon.gov.sa/ar/Cities/TechnologyZones/Pages/TechZone.aspx?ZoneId=6802e405-13ba-4e0b-9a31-ba2018734541' data-name='الرائدة المدينة الرقمية'>
    <div class="row fix-row">
        <div class="col-3">
            <div class="logo-holder">
                <img src="images/modon-logo.png" alt="Modon Logo" />
            </div>
            <div class="graphic-holder">
                <img src="images/info-box.png" alt="Modon info" />
            </div>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-11">
            <div class="cbp-spmenu-push" id="push">
                <div class="row">
                    <div class="col-1">
                        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                            <form class="select-form menu-form">
                                <div class="form-check" id="proj">
                                    <div class="menu-in open-box">
                                        <div class="menu-icon"><img src="images/overview_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>ملخص المشروع</span></label>
                                    </div>
                                </div>
                                <div class="form-check" id="gal">
                                    <div class="menu-in open-popup">
                                        <div class="menu-icon"><img src="images/gallery_icon.png" alt="icon" /></div>
                                        <label class="menu-label"><span>ألبوم الصور</span></label>
                                    </div>
                                </div>
                            </form>
                            <button class="menu-toggle" id="showLeftPush"></button>
                        </nav>
                    </div>
                    <div class="col-11">
                        <h1 class="text-center map-head">الرائدة المدينة الرقمية</h1>
                        <div class="data-container services">
                            <div class="row justify-content-start no-gutters">
                                <div class="data-box box-1 icon-box">
                                    <div class="ti data-box-in">
                                        <div class="head">
                                            <h4>عناصر المشروع:</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-start d-flex">
                                                <div class="col-4" id="center-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/center-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">تكنولوجيا المعلومات</div>
                                                </div>
                                                <div class="col-4" id="university-area">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/university-area.png" /></span>
                                                    </div>
                                                    <div class="icon-title">مجال الاتصالات</div>
                                                </div>
                                                <div class="col-4" id="research-development">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/research-development.png" /></span>
                                                    </div>
                                                    <div class="icon-title">مجال البحث والتطوير</div>
                                                </div>
                                                <div class="col-4" id="innovation-center">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/innovation-center.png" /></span>
                                                    </div>
                                                    <div class="icon-title">مركز الابتكار</div>
                                                </div>
                                                <div class="col-4" id="technical-streets">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/technical-streets.png" /></span>
                                                    </div>
                                                    <div class="icon-title">الشوارع الفنية</div>
                                                </div>
                                                <div class="col-4" id="village-of-knowledge">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/village-of-knowledge.png" /></span>
                                                    </div>
                                                    <div class="icon-title">قرية المعرفة</div>
                                                </div>
                                                <div class="col-4" id="residential">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/residential.png" /></span>
                                                    </div>
                                                    <div class="icon-title">المباني السكنية</div>
                                                </div>
                                                <div class="col-4" id="entertainment">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/entertainment.png" /></span>
                                                    </div>
                                                    <div class="icon-title">وسائل الترفيه</div>
                                                </div>
                                                <div class="col-4" id="gardens-areas">
                                                    <div class="icon-ind">
                                                        <span class="icon-in"><img src="images/icons/tech-zones/gardens-areas.png" /></span>
                                                    </div>
                                                    <div class="icon-title">مناطق الحديقة</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-box box-2">
                                    <div class="card map-popup">
                                        <div class="image-area">
                                            <img src="images/techzone/riyadhDigital/1.jpg" class="card-img-top">
                                            <div class="text">
                                                <p class="short-desc">تَحتل "الرائدة المدينة الرقمية" موقعاً استراتيجياً على أهم الطرق الرئيسة في العاصمة الرياض</p>
                                            </div>
                                        </div>

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="list-title">تاريخ الإطلاق:</span><span class="list-data">1430هـ/2009م</span></li>
                                            <li class="list-group-item"><span class="list-title">المساحة الإجمالية (م2)</span><span class="list-data">800,000</span></li>
                                            <li class="list-group-item"><span class="list-title">نسبة الإنجاز:</span><span class="list-data">98%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="data-box box-1 proj-aims">
                                    <div class="head">
                                        <h4>أهداف المشروع:</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row no-gutters align-items-start d-flex">
                                            <div class="col-12">
                                                <ul class="list">
                                                    <li>مركز استثمار المعرفة والبحوث العالمية لتوطين التكنولوجيا والابتكار</li>
                                                    <li>تحقيق التنمية المستدامة في دعم الاقتصاد المعرفي الوطني ونقل التقنية وتطويرها</li>
                                                    <li>تفعيل وتعزيز علاقات التعاون البناء بين الجامعة ومراكز البحوث</li>
                                                    <li>بناء وسط مثالي لجذب المستثمِرين والمشاريع في مجال المعرفة والتقنية</li>
                                                    <li>استقطاب الكفاءات المبدعة وتحفيزها</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-container gallery">
                            <div class="grid">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>
                               
                               
                                <% var array= resd; %>
                                <% if(resd.length > 0) { %>
                                <% resd.forEach(item=>{ %>
                                <% const imgId =item.split('.')[0];  %>

                                <% if(item.includes('jpg')){ %>
                                <div class="grid-item"  id='grid_<%= imgId %>' data-toggle="modal" data-target="#galleryModal">
                                    <img src="/images/techzone/riyadhDigital/<%= item %>" />
                                </div>
                                <% } %>

                               <% if(item.includes('mp4')){ %>
                                <div class="grid-item grid-item--width2 grid-item--height2" id='grid_<%= imgId %>' data-toggle="modal" data-target="#videoModal">
                                    <video width="100%" height="100%" id='' poster='/images/dummy.jpg'>
                                        <source src="/images/techzone/riyadhDigital/<%= item %>" type="">
                                    </video>
                                </div>
                                <% } %>

                                <% }) %>
                              
                                <% } else { %>
                                <div class="grid">
                                    <h3 class="coming-soon">قريبا</h3>
                                </div>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="share-holder">
                <div class="btn_round mail inner-btn btn_email" data-toggle="modal" data-target="#formModalAra"><i class="fas fa-envelope-open-text"></i></div>
                <div class="btn_round briefcase inner-btn btn_selected">
                    <i class="fas fa-briefcase"></i>
                    <span class="badge badge-warning">0</span>
                    <div class="dropdown dd_selected">
                        <div class="checkbox">
                            <label class="form-check-label" for="check1"><span>Selected Cities</span></label>
                        </div>
                    </div>
                </div>
                <div class="btn_round plus inner-btn"><i class="fas fa-plus"></i></div>
                <div class="btn_round outer-btn"><i class="fas fa-share-alt"></i></div>
            </div>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-12">
            <div class="lang-btn2">
                <div class="btn_lang"><img class="btn1" src="images/eng.png" alt="english"/></div>
                <div class="btn_lang"><img class="btn2" src="images/arb-selected.png" alt="arabic"/></div>
                <div class="btn-dropdown btn_vdo" data-toggle="modal" data-target="#mainvideoModalAra"><div class="btn_round"><i class="fas fa-video"></i></div></div>
                <div class="btn-dropdown btn_home">
                    <div class="btn_round"><i class="fas fa-home"></i></div>
                    <div class="dropdown dd_home">
                        <a class="dropdown-item main-map" href="#">خريطة المملكة العربية السعودية</a>
                        <a class="dropdown-item reset" href="#">إعادة تعيين</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mainvideoModalAra" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video id="mainvideoar" width="100%" height="100%" controls>
                        <source src="videos/modon_film_arabic.mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <video width="100%" height="100%" controls>
                        <source src="" />
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formModalAra" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn_round" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="الاسم الأول">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="company" aria-describedby="company" placeholder="الشركة">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="jtitle" aria-describedby="jtitle" placeholder="الوظيفة">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="البريد الإلكتروني">
                        </div>
                        <button type="button" class="btn sbmt">&nbsp;</button>
                        <br><span id='msg-ar' style="text-align: right; display: none" ></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
